<div class="h-screen text-white">
    <h2 class="text-center text-2xl py-16" id="acerca">SOBRE MI</h2>
    <figure class="pb-10">
        <img class="w-60 h-60 rounded-full m-auto" src="https://avatars.githubusercontent.com/u/72365664?v=4" alt="Rounded avatar">
    </figure>
    <p>
        ¡Hola! Soy Esteban Salas Sulca, un apasionado autodidacta en programación con más de 2 años de experiencia. Comencé mi viaje desde cero y he invertido tiempo y esfuerzo en aprender y crear proyectos que demuestran mi habilidad. Además, he acumulado más de 6 meses de experiencia en el sector de TI como soporte técnico. Ahora, estoy emocionado por dar el salto al desarrollo profesional y enfrentar nuevos desafíos. ¡Bienvenido a mi página web!
    </p>
</div>