<div class=" bg-[#282A3A]">
  <ol class="py-10 text-center">
    <li>Proyectos</li>
    <li>Sobre mi</li>
  </ol>
  <hr>
   <p class="text-[#02dac5] p-4 text-center">Desarrollado por Esteban Salas</p>
</div>