---
import Proyecto from "./Proyecto.astro";

---

<div class="relative bottom-20">
    <h2 class="text-2xl text-center"> PROYEC</h2>
    <div class="grid grid-cols-grilla   gap-4 my-10">
        <Proyecto/>
        <Proyecto/>
        <Proyecto/>
    </div>
    <div>
        Mas proyectos se encuentran en mi Github
    </div>
</div>