<div class=" rounded-lg border-cyan-200 " >
    <figure>
        <img src="./code-light.jpg" alt="">
    </figure>
    <h3 class="py-4">Chat en tiempo Real</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptates alias quas expedita veniam totam enim laboriosam aperiam inventore </p>
</div>