---
import Skill from './Skill.astro'
---
<div>
  <h2 class="text-2xl text-center pt-28 pb-16">SKILLS</h2>
  <div class="grid grid-cols-gridContact sm:grid-cols-gridContactDesktop  place-items-center sm:gap-8 ">
  <Skill name={"HTML5"} image={"./html.png"}/>
  <Skill name={"CSS3"} image={"./css-3.png"}/>
  <Skill name={"React"} image={"./React.png"}/>
  <Skill name={"Tailwind"} image={"./tailwind.png"}/>
  <Skill name={"Git"} image={"./Git.png"}/>
  <Skill name={"Github"} image={"./githubpng.png"}/>
  <Skill name={"Mongo.js"} image={"./mongo.png"}/>
  <Skill name={"Node.js"} image={"./nodejs.png"}/>
  <Skill name={"Mysql.js"} image={"./mysql.png"}/>
  </div>
</div>